<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Inventory Operations</title>
</head>
<body>

        <a href="/product/save">Add Product</a> </br></br>
        <a href="/product/list">List Product</a></br></br>
         <a href="/product/search">Search Product</a></br></br>


        {% if flag %}

<br><br><br>
        <form action="/product/search" method="post">
            <input type="radio" name="search" value="ID" checked> Product Id
            <input type="radio" name="search" value="NAME"> Product Name
            <input type="radio" name="search" value="VENDOR"> Product Vendor<br><br>
            Enter Input : <input type="text" name="inputval"> <br><br>
            <input type="submit">


        </form>

            <br>
        {{products}}
{% endif %}

</body>
</html>