<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Information</title>
</head>
<body>


    {{result}}
    <br>
    <form action="/save" method="post">
        Product ID : <input type="text" name="pid" value=""> <br><br>
        Product Name : <input type="text" name="pnm" value=""> <br><br>
        Product Price : <input type="text" name="prc" value=""> <br><br>
        Product Qty : <input type="text" name="qty" value=""> <br><br>
        Product Vendor : <input type="text" name="ven" value=""> <br><br>
        Product Barcode : <input type="text" name="bcode" value=""> <br><br>
        <input type="submit">


    </form>

</body>
</html>