<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student_list</title>
    <style>
     table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
     tr,tb{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
     tr:nth-child(even) {
      background-color: #dddddd;
       }

    </style>
</head>
<body>
<a href="/">BACK</a><br><br>
     <table>
         <thead>

             <td>Student_ID</td>
             <td>Student_NAME</td>
             <td>Student_AGE</td>
             <td>Student_ADDRESS</td>
             <td>Student_EMAIL</td>
             <td>Student_PHONE_NUMBER</td>
             <td>Action</td>

         </thead>

         <tbody>
             {%for stud in student_list%}
                 <tr>
                     <td>{{stud.sid}}</td>
                     <td>{{stud.snm}}</td>
                     <td>{{stud.sage}}</td>
                     <td>{{stud.saddr}}</td>
                     <td>{{stud.smail}}</td>
                     <td>{{stud.sphone}}</td>
                     <td><a href="/stud/edit/{{stud.sid}}">EDIT</a>/ <a href="\stud\delete\{{stud.sid}}">DELETE</a></td><br>
                 </tr>
         {%endfor %}

         </tbody>

     </table>

</body>
</html>